$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// Variables
$sg-red: #e1302e;
$sg-black: #202020;
$sg-grey: #cccccc;
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* General Settings*/

body {
    font-family: 'Roboto', sans-serif;
    color: $sg-black;
}
.section {
    position: relative;
}
.red-text {
    color: $sg-red;
}
.white-text {
    color: #fff;
}
.grey-text {
    color: $sg-grey;
}
/* Hero Section*/

.page {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
}
.hero {
    .logo-wrapper {
        width: 260px;
        margin-top: 24px;
        img {
            height: auto;
            width: 100%;
        }
    }
    .main-image-wrapper {
        width: 80%;
        margin-bottom: 40px;
        margin-top: 48px;
    }
    .main-para-wrapper {
        width: 65%;
        margin-bottom: 90px;
        .main-paragraph {
            color: #616161;
            font-size: 2.01rem;
            .red-bold {
                font-weight: 500;
                color: $sg-red;
            }
        }
    }
    .button.button-red {
        margin-top: 30px;
    }
    .arrow {
        margin-top: 48px;
    }
}
.arrow-down {
    height: 48px;
    width: 48px;
    animation: 3.4s ease-in-out infinite fadebottom;
}
@keyframes fadebottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    25% {
        opacity: 0;
        transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    30% {
        opacity: 0;
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    45% {
        opacity: 1;
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}
.button {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 1.9rem;
    padding: 15px 25px;
    color: $sg-red;
    &:hover, &:focus {
        text-decoration: none;
        color: #fff;
        background-color: $sg-red;
        border: 1px solid $sg-red;
    }
}
.button-red {
    cursor: pointer;
    border: 1px solid $sg-red;
    border-radius: 3px;
}
.hidden {
    visibility: hidden;
}
/*Startups Section*/

.startups {
    background-color: $sg-red;
    color: #fff;
    padding: 56px 0;
    .container-fluid {
        width: 80%;
    }
    .startup-header {
        margin-bottom: 48px;
    }
    .startup-pro {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 36px 0;
    }
    p {
        width: 90%;
        font-size: 1.6rem;
    }
    .ic-linkedin {
        img {
            width: 16px;
            vertical-align: inherit;
            margin-left: 5px;
        }
    }
}
/*BuildTech Section*/

.buildtech {
    background-color: $sg-red;
    background-color: #e1302e;
    background-image: url("../images/light-honeycomb.png");
    color: #fff;
    padding: 56px 0;
    .container-fluid {
        width: 80%;
    }
    .build-header {
        margin-bottom: 48px;
    }
    p {
        width: 90%;
        font-size: 1.6rem;
    }
    .dedicated-box {
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 16px;
        h4 {
            font-size: 1.9rem;
        }
        p {
            width: 100%;
            font-size: 14px;
        }
    }
}
/* Prototyping Section*/

.fast-prototyping {
    .container-fluid {
        width: 80%;
    }
    .fast-para {
        width: 70%;
        margin-bottom: 36px;
        font-size: 1.6rem;
    }
    padding-top: 56px;
    padding-bottom: 80px;
    box-shadow: inset 0 -40px 0 rgba(225, 48, 46, 0.6), inset 0 -80px 0 rgba(225, 48, 46, 0.6);
    .fast-text {
        margin-bottom: 48px;
        font-weight: 500;
    }
    .img-wrapper {
        padding-left: 50px;
        .img-prototype {
            width: 80%;
        }
    }
    .team-popup {
        position: absolute;
        left: 60%;
        top: 42%;
        padding-bottom: 80px;
        .card {
            background: #fff;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            border-radius: 2px;
            padding: 20px;
            width: 448px;
            position: relative;
            z-index: 1;
        }
        .stem {
            position: absolute;
            left: 25%;
            bottom: 0;
            height: 80px;
            width: 2px;
            background-color: #bd1e2c;
            background: linear-gradient(to bottom, #bd1e2c, rgba(225, 48, 46, 0.2));
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            &::after {
                content: '';
                display: block;
                width: 60px;
                height: 30px;
                background: rgba(154, 211, 219, 0.07);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                position: absolute;
                bottom: -15px;
                left: -30px;
            }
        }
    }
}
/* Publish Section*/

.publish {
    background: url('../images/publish.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 55px 0 100px 0;
    .container-fluid {
        width: 80%;
    }
    .readers-text {
        font-size: 1.6rem;
    }
    .sponsors-logo {
        margin-top: 28px;
        margin-bottom: 24px;
    }
}
/* Members meetup Section*/

.meetup-members {
    .container.card {
        max-width: 1000px;
        margin: 0 auto;
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transform: translateY(-10%);
        position: relative;
        z-index: 1;
        padding: 0;
    }
    .group-wrapper {
        transform: translateY(45%);
    }
    .group-text {
        margin-bottom: 24px;
    }
    .group-text-sub {
        font-size: 1.8rem;
    }
    .meetup-text {
        border-bottom: 3px solid $sg-red;
    }
    .group-para {
        font-size: 1.6rem;
        padding-left: 16px;
        padding-right: 16px;
    }
    .row.meet {
        margin: 0;
        .meet-img {
            padding: 0;
        }
    }
}
/* Know startup Section*/

.know-startup {
    background: url('../images/startups.png') no-repeat center bottom;
    background-size: cover;
    padding: 56px 0 56px 0;
    .container-fluid {
        width: 80%
    }
    .grey-text {
        font-size: 1.6rem;
    }
    .logo-grey {
        width: 100px;
    }
    .lets-talk {
        border-bottom: 3px solid $sg-red;
    }
    .email-wrapper {
        margin-top: 24px;
        .email-text {
            color: #fff;
        }
    }
}
/*toggle*/

.show-more {
    cursor: pointer;
}
.email-form {
    display: none;
    margin-top: 48px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    .email-form-wrapper {
        padding: 50px 60px;
        border-radius: 3px;
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        h3 {
            margin-top: 0;
            font-size: 25px;
            font-weight: 300;
            color: #888;
            border-bottom: 1px solid #eee;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        .form-group {
            .control-label {
                text-align: left;
            }
        }
        .form-actions {
            .pull-left {
                color: #888;
            }
            padding-top: 30px;
            margin-top: 30px;
            border-top: 1px solid #eee;
        }
    }
}
.message {
    border: 1px solid $sg-red;
    padding: 24px;
    display: none;
    p {
        font-size: 1.6rem;
        color: #616161;
        text-align: justify;
    }
}
/*footer*/

footer {
    background-color: #1a1a1a;
    padding: 15px 15px 10px 15px;
}
/* Typed */

.typed-cursor {
    color: #fff;
    padding-left: 5px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dash {
    display: inline-block;
    transform: scale(3, 2);
    margin-right: 8px;
}
/* Responsive: Portrait tablets and up */

@media screen and (max-width: 1024px) {
    .fast-prototyping {
        .team-popup {
            position: relative;
            left: 0;
            top: 0;
            padding-bottom: 40px;
            .card {
                width: 100%;
            }
            .stem {
                left: 50%;
                bottom: -20px;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .group-wrapper {
        padding-bottom: 0px!important;
    }
    .logo-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
    .email-form {
        width: 100%;
    }
    .hero {
        .main-para-wrapper {
            width: 100%;
        }
    }
    .startups, .buildtech {
        p {
            width: 100%;
        }
    }
    .startups {
        .startup-header {
            margin-bottom: 24px;
        }
    }
    .buildtech {
        width: 100%;
        padding: 30px 0 40px 0!important;
        .build-header {
            margin-bottom: 24px;
        }
    }
    .fast-prototyping {
        .fast-text {
            margin-bottom: 24px;
        }
        .fast-para {
            width: 100%;
        }
    }
    .btn-submit {
        float: none!important;
        margin-top: 24px;
    }
}
@media (max-width: 968px) {
    .group-wrapper {
        transform: translateY(0)!important;
        padding-bottom: 20px;
    }
    .fast-prototyping {
        padding-top: 40px;
        .fast-text {
            margin-bottom: 24px;
        }
        .fast-para {
            width: 100%;
        }
        .team-popup {
            position: relative;
            left: 0;
            top: 0;
            padding-bottom: 40px;
            .card {
                width: 100%;
            }
            .stem {
                left: 50%;
                bottom: -20px;
            }
        }
    }
    .startups {
        padding: 40px 0;
        .startup-header {
            margin-bottom: 24px;
        }
    }
    .buildtech {
        padding: 40px 0;
        .build-header {
            margin-bottom: 24px;
        }
        .dedicated-box {
            margin-top: 24px;
        }
    }
}
@media screen and (max-width: 768px) {
    .hero {
        padding: 15px;
        margin-bottom: 0;
        .hero-main-text {
            font-size: 24px;
        }
        .logo {
            transform: translate(-50%, 70%);
            width: 138px;
        }
        .hero-text {
            font-size: 18px;
        }
    }
    .fast-prototyping {
        .team-popup {
            position: relative;
            left: 0;
            top: 0;
            padding-bottom: 0;
            .stem {
                left: 50%;
                bottom: -60px
            }
            .card {
                text-align: center;
                width: auto;
            }
        }
    }
    .publish {
        padding: 20px 0 60px 0;
    }
    .meetup-members {
        .group-wrapper {
            transform: translateY(0);
            .group-text {
                margin-top: 30px;
            }
            .group-para {
                padding-bottom: 18px;
            }
        }
    }
    .know-startup {
        padding: 20px 0 20px 0;
        .grey-text {
            padding: 12px;
        }
    }
}
